<h1>ToDo List</h1>
<div class="kanban-board">
    <div class="kanban-column">
        <h2>To Do</h2>
        <ul>
            {% for todo in todos %}
                {% if todo.stage == 'todo' %}
                    <li>
                        {{ todo.title }} - {{ todo.due_date|date:"F j, Y, g:i a" }} - {{ todo.priority }} - 
                        {% if todo.completed %}Completed{% else %}Incomplete{% endif %}
                        <a href="{% url 'edit_todo' todo.id %}">Edit</a>
                        <a href="{% url 'update_stage' todo.id 'in_progress' %}">Start Progress</a>
                        <a href="{% url 'update_stage' todo.id 'done' %}">Mark as Done</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="kanban-column">
        <h2>In Progress</h2>
        <ul>
            {% for todo in todos %}
                {% if todo.stage == 'in_progress' %}
                    <li>
                        {{ todo.title }} - {{ todo.due_date|date:"F j, Y, g:i a" }} - {{ todo.priority }} - 
                        {% if todo.completed %}Completed{% else %}Incomplete{% endif %}
                        <a href="{% url 'edit_todo' todo.id %}">Edit</a>
                        <a href="{% url 'update_stage' todo.id 'todo' %}">Move to To Do</a>
                        <a href="{% url 'update_stage' todo.id 'done' %}">Mark as Done</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="kanban-column">
        <h2>Done</h2>
        <ul>
            {% for todo in todos %}
                {% if todo.stage == 'done' %}
                    <li>
                        {{ todo.title }} - {{ todo.due_date|date:"F j, Y, g:i a" }} - {{ todo.priority }} - 
                        {% if todo.completed %}Completed{% else %}Incomplete{% endif %}
                        <a href="{% url 'edit_todo' todo.id %}">Edit</a>
                        <a href="{% url 'update_stage' todo.id 'todo' %}">Move to To Do</a>
                        <a href="{% url 'update_stage' todo.id 'in_progress' %}">Move to In Progress</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<a href="{% url 'add_todo' %}">Add ToDo</a>




