body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
}

.kanban-board-container {
    width: 100%;
    margin: auto;
}

.kanban-board-headers {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.kanban-board-headers h2 {
    width: 30%;
    text-align: center;
}

.kanban-board {
    display: flex;
    justify-content: space-around;
}

.kanban-column {
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 60vh; /* Fixed height */
    overflow-y: auto;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.kanban-summary {
    display: flex;
    flex-direction: column;
    position: relative;
}

.kanban-summary strong {
    margin-bottom: 5px;
}

.kanban-summary p {
    margin: 0;
}

.priority-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
}

.priority-circle.low {
    background-color: green;
}

.priority-circle.medium {
    background-color: orange;
}

.priority-circle.high {
    background-color: red;
}

.priority-options {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    top: 25px; /* Below the circle */
    right: 5px;
}

.priority-options button {
    margin: 2px 0;
}

.todo-form, .kanban-details {
    width: 100%;
    margin-bottom: 10px;
}

.todo-form form, .kanban-details form {
    display: flex;
    flex-direction: column;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn-group .btn {
    flex: 1;
    margin: 2px;
}















